body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.chart-container {
    text-align: center;
    margin-top: 20px;
}

.axis .line {
    fill: none;
    stroke: #333;
    stroke-width: 2px;
    opacity: 0.8;
}

.axis .legend {
    text-anchor: middle;
    fill: #333;
    font-weight: bold;
    font-size: 14px;
}

.student .line {
    fill: none;
    stroke-width: 3px;
    stroke-opacity: 0.9;
}

.student .line:hover {
    stroke-width: 5px;
}

path:hover {
    stroke: #FF5733;
}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    pointer-events: none;
    display: none;
}
