/* Style the tooltip */
.tooltipAgeHist {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

/* Style the bars */
.bar {
    stroke: none;
}

/* Style the legend */
.legend {
    font-size: 14px;
    /* cursor: pointer; */
}

/* Apply Bootstrap classes to the legend items */
.legend rect {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

/* Style X and Y axis labels */
.axis-labels {
    font-size: 14px;
}

/* Style the chart title */
.chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the chart container */
.chart-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Center the chart within the container */
#ageDistribution svg {
    margin: 0 auto;
    display: block;
}
/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.chart-container {
    background-color: #f1f3f5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.chart-title {
    color: #000000;
}

.tooltipAgeHist {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.radar-chart .area {
    fill-opacity: 0.7;
  }
  .radar-chart.focus .area {
    fill-opacity: 0.3;
  }
  .radar-chart.focus .area.focused {
    fill-opacity: 0.9;
  }


.heatmap-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heatmap-title {
    font-size: 24px;
    margin-bottom: 20px;
}